.header {
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 10rem;
  height: 3rem;
}
.header-menu {
  list-style: none;
  display: flex;
  gap: 2rem;
  align-items: center;
  color: white;
}
.header-menu > li {
  cursor: pointer;
}
.header-menu > li:hover {
  color: #f48915;
}
@media screen and (max-width: 700px) {
  .header {
    position: relative;
    right: 2rem;
    z-index: 99;
    justify-content: space-around;
  }
  .header-menu {
    flex-direction: column;
    background-color: var(--appColor);
    padding: 2rem;
  }
}
