.footer-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
  background-color: darkslategray;
}
.footer {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}
.social-links {
  display: flex;
  gap: 2rem;
}
.social-links > img {
  width: 2rem;
}
.social-links > img:hover {
  transform: scale(1.5);
  cursor: pointer;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
}
